.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color:white;
  position:absolute;
  top: 0;bottom: 0;left: 0;right:0;
  overflow: hidden;
  pointer-events: none;
}
.App > * {
  pointer-events: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side-menu{
  width: 260px;
  padding: 10px;
  background-color: #282c34;
}

.chatbox{
  flex: 1;
  background-color: #ffffff;
  position: relative;
}


.chat-log{

text-align: left;
overflow-y:scroll;
overflow-x: hidden;
display: flex;
flex-direction: column;
padding: 0px;
overflow: hidden;
font-size: 1.02em;
}

/* content can be scroll above the textarea boxes and below the textarea boxes */

::-webkit-scrollbar {
  display: none;
}

.chat-log::-webkit-scrollbar {

  display: none;
}

.chat-log::-webkit-scrollbar-thumb {
  background-color: #343541;
}

.chat-log::-webkit-scrollbar-track {
  background-color: #40414f;
}

.chat-log-wrapper {
  height: 100%;
  overflow-y: scroll;
  /* height: calc(100vh - 175px); */
  margin-bottom: 10px;
  scroll-behavior:smooth;
}

.chat-log-wrapper > .chat-log {
  height: calc(100% - 48px);
  overflow-y: scroll;
  scroll-behavior:auto;
  height: 100%;
}

.chat-log-wrapper > .chat-log > div:last-child {
  margin-bottom: 64px;
}

.chat-log-wrapper > .chat-log > div {
  margin-bottom: 8px;
}

.chat-message.gpt{
  background-color: rgba(255,255,255,0.1);
} 

.chat-message.question .chat-message-center {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}


.chat-message-center{
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex ;
  flex-direction: row;
  padding-bottom: 12px;
padding-left: 24px;
padding-right: 24px;

}
.message-r{
  background-color: #f7f7f8;
}

.chat-message-center .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  /* margin-right: 16px; */
}

.chat-message-center .message-r {
  display: flex;
  align-items:center;
  justify-content:left;
  width: calc(100% - 56px);
  background-color:#f7f7f8;
  color: rgba(81 8 66 0);
}


.chat-message.code  .message-r{
  background-color:#f7f7f8;
  color:rgba(81 8 66 0);
  overflow-x: auto;
  padding: 20px 10px 10px 0px;
  border-radius: 4px;
  box-shadow: none;
  max-width: 100%;
  
 
}

.message-l{
  margin-top:10px;
  align-self: flex-start;
  color: #636364;

}



 .message-r{
 
  white-space: pre-wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #636364;

 }
 
 .chat-message.response{
  background-color: #f7f7f8;
  /* padding: 10px; */

 }

.new-side-menu-btn{
padding: 10px;
border: 1px solid #343541;
border-radius:5px ;
text-align: left;
transition: ease 0.25s all;
}

.new-side-menu-btn:hover{
  background-color: rgba(255,255,255,0.1);
}


.new-side-menu-btn span{
  padding-left: 6px;
  padding-right: 12px;
}

.chat-input-holder{
  padding: 24px;
  position:absolute;
  bottom:0;
  left: 0;
  right: 0;
}

.chat-input-textarea{
  background-color:#ffffff;
  width: 70%;
  padding: 12px;
  color: rgb(100, 102, 103);
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  margin: 12px;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}
textarea {
  resize: none;
  width: 300px;
  height: 45px;
}

.icons {
  width: 22px;
  height: 22px;
}
#usercircle.icons{
  width: 25px;
  height: 25px; 
}

.code {
  /* padding: 4px; */
  white-space: pre-wrap;
}


#MsgFill{
  margin-top: 22px;
}

.submit-btn{
  all: initial;
  position: absolute;
  transform: translateY(130%);
  right: 220px; 
}
button:hover {
  cursor: pointer;
}
.fa-paper-plane-svg {
  fill: rgba(255 255 255 0.6);
  stroke: rgba(255,255,255,0.342);
  stroke-width: 1;
}
.avatar{
  color: rgba(37, 38, 39, 0.626);
}


